/*
    Document   : search_api_location
    Created on : Mar 23, 2011, 2:46:48 PM
    Author     : dmitry
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.search-api-location .form-item-radius-distance-search-distance {
  margin-top: 5px !important;
  margin-bottom: 10px !important;
}
.search-api-location .form-item-radius-distance-search-distance label{
  float: left;
  padding: 6px 5px 6px 0;
  margin: 0px;
  line-height: 1;
}

.search-api-location .form-item-radius-distance-search-distance input{
  color:#f6931f;
  font-weight:bold;
  padding: 5px 5px 5px 0;
  margin: 0px;
  line-height: 1;
}

.search-api-location .views-exposed-widget.views-submit-button{
  float: none;
  clear: both;
}

.search-api-location .views-exposed-widget.views-submit-button span{
  padding: 0px;
  margin: 0px;
}

.search-api-location .views-exposed-widget.views-submit-button span input{
  padding: 5px 10px;
  margin: 0px;
  margin-bottom: 10px;
  margin-top: 20px;
  height: auto;
  border: 1px solid #666666;
  background: #cccccc;
  cursor: pointer;
}

.view-location-search .item-list ol{
  padding: 0px;
  margin: 0px;
}

.view-location-search .item-list ol li{
  
}

.view-location-search .item-list ol li div{
  display: inline;
}
